.column {
  display: flex;
}

.item {
  flex-grow: 1;
}

img {
  width: 33%;
}

button {
  width: 33%
}

td {
  border: 1px solid black
}

tr {
  -webkit-box-shadow: 5px 4px 10px -1px rgba(48,25,48,1);
-moz-box-shadow: 5px 4px 10px -1px rgba(48,25,48,1);
box-shadow: 5px 4px 10px -1px rgba(48,25,48,1);
}